* {
  box-sizing: border-box;
}

#homePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttonsContainer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

#createButton, #manageButton {
  cursor: pointer;
  height: 25vh;
  width: 20vw;
  border-radius: 25px;
  background-color: whitesmoke;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
}

#createButton:hover, #manageButton:hover {
  box-shadow: 0 5px 12px lightgrey;
  transition: 0.3s;
}

#message {
  display: none;
  height: 40px;
  background: white;
  border-radius: 8px;
  border: 2px solid;
}

.navbar-collapse {
  flex-grow: 0;
}