#quizTitle {
  color: cadetblue;
}

#content {
  box-shadow: 0 5px 15px lightgrey;
  padding: 1rem;
}

.questionBox {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  min-height: 150px;
}

#submitButton {
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalContent {
  min-height: 30vh;
  width: 30vw;
  background-color: white;
  padding: 1rem;
}

#closeBtnContainer {
  text-align: right;
  padding: 0.5rem;
}

.fa-xmark {
  font-size: 1.5rem;
}

.result {
  overflow: scroll;
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#heading {
  color: green;
}

#score {
  margin: 1rem;
}

#text {
  color: grey;
  text-align: center;
  font-weight: 500;
}
