* {
  box-sizing: border-box;
  font-size: 1rem;
}

nav {
  position: relative;
  z-index: 2;
  height: 65px;
  box-shadow: 0 3px 15px lightgrey;
}

.content {
  position: relative;
  z-index: 2;
}

#heading {
  color: grey;
  text-align: center;
}

#message {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  display: none;
  font-size: 1.3rem;
}

#quizContainer {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizBox {
  width: 100%;
  height: 10vh;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: grey;
  margin: 1rem 0;
}

.quizBox:hover {
  background-color: white;
  border-color: lightgrey;
  transition: 0.3s;
}

.leftSide {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fa-list {
  font-size: 3rem;
}

.rightSide {
  font-size: 1.5rem;
  font-weight: 500;
}

.unauthorised-msg {
  height: 100svh;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: grey;
}
